/*
        @package    Pleisterman\Tutorials

        file:       style.css
        function:   declares global styles

        Last revision: 03-10-2020
 
*/    

body {
    margin: 0px;
    font-family: Verdana, times 
}

div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
